
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 29px;
line-height: 1.3;
letter-spacing: 0.091em;
font-weight: 500;
font-style: normal;
  }
  
  .radioGroup {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  
 
  h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
  }
  .radioInput {
    margin-right: 8px;
  }
  
  .label {
    font-size: 26px;
    color: #333;
  }
  
  .submitButton {
    background-color: green;
    color: #fff;
    border: none;
    padding: 20px 200px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .submitButton:hover {
    background-color: #039c00;
  }
  

  